{% extends 'blog/base.html' %}
{% load my-tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card shadow-sm">
                    <h3>{{ object.name }}</h3>
                    <img src="{{ post.image | media_filter }}" class="rounded mx-auto d-block">
                    <div class="card-body">
                        <p class="card-text">создан: {{ object.created_at }}</p>
                        <p class="card-text">количество просмотров: {{ object.views_counter }}</p>
                        <p class="card-text">{{ object.content }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'blog:posts_list' %}"
                                   role="button">Назад</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}